<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="styles/blog_style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about/index.html">About</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ container }}
    </div>
    <footer>
      <ul>
        <li><a href="mailto:gjenkins205@gmail.com">Contact Me</a></li>
	      <li><a href="https://github.com/gradyjenkins">Github</a></li>
      </ul>
     <ul>
      <li><a href="mailto:gjenkins205@gmail.com">Contact Me</a></li>
      <li><a href="https://github.com/gradyjenkins">Github</a></li>
     </ul>	     
    </footer>
  </body>
</html>
