.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
.container-fluid {
    z-index: 1;
    position: absolute;
    color: #fff;
    top: 35%;
    width: 100%;
    text-align: center;
}
#row-1, #row-2 {
    display: block;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
}
#name {
    font-family: 'Vollkorn', serif;
    -webkit-transition:2s ease;
}
.navigation {
    color:#7C8BE8;
    font-size: 30px;
    margin-right: 10px;
}
.bg-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}
h1 {
    cursor: pointer;
    font-size: 100px;
}
@media screen and (max-width: 480px) {
    h1 {
        font-size: 300%;
    }

    .video-container video {
        display: none;
    }

    .poster img {
        background-size: cover;
        visibility: visible;
    }
}
@media screen and (min-width: 480px) {
    h1 {
    font-size: 500%;
    -webkit-transition: font-size 2s ease;
    -moz-transition: font-size 2s ease;
    -ms-transition: font-size 2s ease;
    -o-transition: font-size 2s ease;
    transition: font-size 2s ease;
}

    .poster img {
        visibility: hidden;
    }

}

@media screen and (max-device-width: 480px) {
    h1 {
        font-size: 300%;
    }

    .video-container video {
        display: none;
    }

    .poster img {
        background-size: cover;
        visibility: visible;
    }

}