body {
    background-image: url("adam-kool-11868.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% top;
    background-attachment: fixed;
}
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    background-color: rgba(0,0,0,0.4);

}
.container-fluid {
    z-index: 1;
    position: absolute;
    color: #fff;
    top: 35%;
    width: 100%;
    text-align: center;
}
#row-1, #row-2 {
    display: block;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
}
#name {
    font-family: 'Vollkorn', serif;
}
.navigation {
    color:#7C8BE8;
    font-size: 30px;
    margin-right: 10px;
}
.bg-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}
h1 {
    font-size: 100px;
}
.container-fluid #row-2 #stark {
    color: #3494a8;
}
@media screen and (max-width: 480px) {
    h1 {
        font-size: 300%;
    }

    .video-container video {
        display: none;
    }

    .poster img {
        background-size: cover;
        visibility: visible;
    }
}
@media only screen and (max-width: 380px) {
    .poster img {
        visibility: visible;
        background-size: cover;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 300%;
    }

    body {
        background-color: #377a72;
    }
    .video-container {
        display: none;
    }

    .poster img {
        background-size: cover;
        visibility: visible;
    }

}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li, footer ul li, a {
    color: white;
}
